body {
  background-color: rgb(217, 236, 235);
}

  h1 {
    color: rgb(82, 31, 112);
    font-style: italic;
    font-family: DK Lemon Yellow Sun;
    text-align: center;
  }
  
  h2 {
    color: orangered;
    font-style: italic;
    font-family: Ink Free;
    text-align: left;
    
  }

  h3 {
    color: rgb(0, 0, 0);
    
    
  }
  
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #73A8C2;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: #F7EDE1;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 2, 39);
}
